<div class="fake-terminal">
  <div class="editor-area">
    <div class="line">
      <span class="line-prefix"><span class="username">ben</span>@computer (main)></span>
      <div class="line-content">cat about.txt</div>
    </div>
    <div class="line">
      <div class="line-conenent">Ben is a senior computer science and mathematics dual major at Colorado State University.</div>
    </div>
    <div class="line">
      <span class="line-prefix"><span class="username">ben</span>@computer (main)></span>
      <div class="line-content"><span class="caret-thin"></span></div>
    </div>
  </div>
</div>
