.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem; /* space between icons */
  margin-top: 4rem; /* adjust as needed */
}

.social {
  font-size: 3rem; /* large icons */
  color: #bac2de;
  text-decoration: none;
  transition:
    color 0.3s ease,
    transform 0.2s ease;
}

.social.linkedin:hover {
  color: #0a66c2; /* LinkedIn blue */
  transform: scale(1.1);
}

.social.github:hover {
  color: #ffffff; /* white on hover */
  transform: scale(1.1);
}
